# Ignore build directory
.vscode/

# Ignore build directory
build/

# Ignore data directory
data/

# Ignore .idea directory
.idea/

cmake-build-debug/

preprocess/
!*/preprocess/nlohmann/json.hpp
!*/preprocess/CMakeLists.txt
!*/preprocess/gen_images_light_60_opti.cpp