# Ignore build directory
build/

# Ignore data directory
data/

# Ignore .idea directory
.idea/

# Ignore .vscode directory
.vscode/

# Ignore regsdf directory
regsdf_results/

cmake-build-debug/

preprocess/
!*/preprocess/nlohmann/json.hpp
!*/preprocess/CMakeLists.txt
!*/preprocess/gen_images_light_60_opti.cpp
.gitignore