commentjson==0.9.0
contourpy==1.3.2
cycler==0.12.1
Cython==0.29.37
fonttools==4.58.5
joblib==1.3.2
kiwisolver==1.4.8
lark-parser==0.7.8
matplotlib==3.10.3
numpy==1.24.4
opencv-python==4.9.0.80
packaging==25.0
pillow==10.2.0
pybind11==2.13.1
pyembree==0.1.12
pyparsing==3.0.9
python-dateutil==2.8.2
rtree==1.4.0
scikit-learn==1.3.2
scipy==1.10.1
six==1.16.0
threadpoolctl==3.2.0
tqdm==4.67.1
trimesh==3.23.5
